scratch/chart_ideas.txt
data/raw/AIS_176445669396572172_887-1764456696869.csv
data/raw/ShippingLanes_Apr25017/
data/geodata/ais
data/geodata/qgis
data/geodata/arthurmanderson_Duluth_to_Gary_Line.qmd
data/geodata/arthurmanderson_Duluth_to_Gary_Line_CLEAN.qmd