/* Overwriting Story template's `main.css` here for easy rollbacks */

.wrapper.style1,
.wrapper.style1 > .inner {
  display: block;
  height: auto;
}

.divided > section {
overflow: visible !important;
}

#map-section {
  position: relative;
  overflow: visible;
  text-align: left;
}

#map-container {
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 1;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

#overlay-container {
    position: absolute;
    inset: 5vw;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

#map-text-overlay {
  top: 10%;
  left: 5%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0.5em 0.75em 1em rgba(109, 122, 151, 0.3); /*right-size bottom-size blur-size color*/
  color: #000000;
  padding: 1rem;
  border-radius: 0px;
  opacity: 0;
  transition: opacity 1.0s ease-in-out;
  pointer-events: none;
  z-index: 10;
}
#map-text-overlay.visible {
  opacity: 1;
}

#map-chart-overlay {
  top: 10%;
  left: 5%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0.5em 0.75em 1em rgb(157, 176, 219, 0.3); /*right-size bottom-size blur-size color*/
  color: #000000;
  padding: 1rem;
  border-radius: 0px;
  opacity: 0;
  transition: opacity 1.0s ease-in-out;
  pointer-events: none;
  z-index: 10;
}
#map-chart-overlay.visible {
  opacity: 1;
}

.inner {
  position: static;
  top: auto;
  height: auto;
  z-index: auto;
}

#scrolly-wrapper {
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
  transform: none
}

/* https://github.com/russellsamora/scrollama/blob/v2/docs/sticky-side/index.html */
#scrolly {
  display: flex;
  align-items: flex-start;
  flex-direction: row !important;
  justify-content: space-between !important;
  background: #f3f3f3;
  /* min-height: auto; */
  width: 100%;
}

#sidebar {
  flex: 0 0 25rem;
  /* padding: 1rem; */
  max-width: 15vw;
  overflow: visible;
  background: #ffffff51;
  text-align: left;
}

.step {
  background: #3b3b3b4a;
  color: #fff;
  text-align: center;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* border-radius: 4px; */
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.step.is-active {
  background: rgb(157, 176, 219);
  color: #000000;
  font-weight: bold;
}

#nonusa-mask-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 5;
}

#map {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

#chart-overlay {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 50px;
  height: 40px;
  background: rgba(255,255,255,0.25);
}
