/* Overwriting Story template's `main.css` here for easy rollbacks */

.wrapper.style1,
.wrapper.style1 > .inner {
  display: block;
  height: auto;
}

.divided > section {
overflow: visible !important;
}

.banner.style1 {
  display: flex !important;
  align-items: stretch;
}

.banner.style1 > .content{
  flex: 1 1 40% !important;
  max-width: 40% !important;
  padding-right: 2rem !important;
}

.banner.style1 > .image {
  flex: 1 1 60% !important;
  max-width: 60% !important;
}

.banner.style1 > .image img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

#map-section {
  position: relative;
  overflow: visible;
  text-align: left;
}

#map-container {
  position: relative;
  position: sticky;
  top: 0;
  height: 100vh;
  flex: 1;
  align-self: flex-start;
  margin: 0;
  padding: 0;
}
#map-container.sticky {
  position: sticky;
}

#overlay-container {
  position: absolute;
  inset: 0;
  /* pointer-events: none; */
  /* display: flex;
  flex-direction: column; */
}

#map-text-overlay {
  position: absolute;
  top: 10%;
  left: 5%;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0.5em 0.75em 1em rgba(109, 122, 151, 0.3); /*right-size bottom-size blur-size color*/
  color: #000000;
  padding: 1rem;
  border-radius: 0px;
  opacity: 0;
  transition: opacity 1.0s ease-in-out;
  /* pointer-events: none; */
  z-index: 10;
}
#map-text-overlay.visible {
  opacity: 1;
}
#map-text-overlay.top-left {
  top: 10% !important;
  left: 5% !important;
  bottom: auto !important;
  right: auto !important;
}
#map-text-overlay.top-right {
  top: 10% !important;
  left: auto !important;
  bottom: auto !important;
  right: 2.5% !important;
}
#map-text-overlay.bottom-left {
  top: auto !important;
  left: 2.5% !important;
  bottom: 10% !important;
  right: auto !important;
}
#map-text-overlay.bottom-middle {
  top: auto !important;
  left: 40% !important;
  bottom: 10% !important;
  right: auto !important;
}

#map-chart-overlay {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%); /*Center the overlay using top and right wrt to its center!*/
  min-width: 32vw;
  max-width: 40vw;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0.5em 0.75em 1em rgb(157, 176, 219, 0.3); /*right-size bottom-size blur-size color*/
  color: #000000;
  margin: 0.1rem;
  padding: 1rem;
  border-radius: 0px;
  opacity: 0;
  transition: opacity 1.0s ease-in-out;
  pointer-events: none;
  z-index: 10;
}
#map-chart-overlay.visible {
  opacity: 1;
}

#pictograph {
  position: absolute;
  top: 50%;
  right: 20%;
  transform: translate(50%, -50%); /*Center the overlay using top and right wrt to its center!*/
  min-width: 32vw;
  max-width: 40vw;
  /* background: rgba(255, 255, 255, 0.9); */
  /* box-shadow: 0.5em 0.75em 1em rgb(157, 176, 219, 0.3); right-size bottom-size blur-size color */
  color: #000000;
  margin: 0.1rem;
  padding: 1rem;
  border-radius: 0px;
  opacity: 0;
  transition: opacity 1.0s ease-in-out;
  pointer-events: none;
  z-index: 10;
}
#pictograph.visible {
  opacity: 1;
}

#pictograph-locks {
  position: absolute;
  /* top: 55%;
  right: 45%;
  transform: translate(50%, -50%); Center the overlay using top and right wrt to its center! */
  width: 100vw;
  height: 100vh;
  /* min-width: 32vw;
  max-width: 40vw; */
  /* background: rgba(255, 255, 255, 0.9); */
  /* box-shadow: 0.5em 0.75em 1em rgb(157, 176, 219, 0.3); right-size bottom-size blur-size color */
  color: #000000;
  margin: 0.1rem;
  padding: 1rem;
  border-radius: 0px;
  opacity: 0;
  transition: opacity 1.0s ease-in-out;
  pointer-events: none;
  z-index: 10;
}
#pictograph-locks.visible {
  opacity: 1;
}

.inner {
  position: static;
  top: auto;
  height: auto;
  z-index: auto;
}

#scrolly-wrapper {
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
  transform: none
}

/* https://github.com/russellsamora/scrollama/blob/v2/docs/sticky-side/index.html */
#scrolly {
  display: flex;
  align-items: flex-start;
  flex-direction: row !important;
  justify-content: space-between !important;
  background: #f3f3f3;
  /* min-height: auto; */
  width: 100%;
}

#sidebar {
  flex: 0 0 25rem;
  /* padding: 1rem; */
  max-width: 10vw;
  overflow: visible;
  background: #ffffff51;
  text-align: left;
}

.step {
  background: #3b3b3b4a;
  color: #fff;
  text-align: center;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  padding-top: 5rem;
  padding-bottom: 5rem;
  /* border-radius: 4px; */
  margin-top: 30vh;
  margin-bottom: 30vh;
}

.step.is-active {
  background: rgb(157, 176, 219);
  color: #000000;
  font-weight: bold;
}

#nonusa-mask-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.25);
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 5;
}

#map {
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

#chart-overlay {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 50px;
  height: 40px;
  background: rgba(255,255,255,0.25);
}
